$chatviewColor: #ebecf0;
$borderHighlight: #66a6ff;

.chat-message {
    height: 100vh;
    width: 96rem;
    margin-left: 24rem;

    display: flex;
    flex-direction: column;
}

.user-img img {
    max-width: 3.3rem;
    margin-left: 2.5rem;
    border: 1px solid #ccc;
}

.user-img {
    display: flex;
    align-items: center;
    margin: 5px;
}

.chat-text {
    margin-left: 3rem;
    margin-top: auto;
}

.chat-text p {
    max-width: 30rem;
    display: inline-block;
    background-color: #ccc;
    padding: 1rem;
    border-radius: 16px;
}

.my-chat {
    margin-left: auto;
    margin-right: 3rem;
}

.my-chat p {
    max-width: 30rem;
    display: inline-block;
    background-color: $borderHighlight;
    padding: 1rem;
    border-radius: 16px;
}

.chat-background {
    background-color: $chatviewColor;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-input {
    border-top: 1px solid #ccc;
    position: relative;
    height: 8vh;
    width: 100%;
    margin-bottom: 1rem;

    .chat-input-group {
        gap: 10px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            position: relative;
            width: 85%;
            height: 3rem;
            border-radius: 30px;
            padding: 0 16px;
            background-color: $chatviewColor;
            border: none;
        }

        button {
            img {
                width: 30px;
            }

            width: 7%;
            height: 3rem;
            border-radius: 30px;
            border: none;
            background-color: #005ae0;
        }
    }
}