$navbarColor: #005ae0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar-menu {
    position: relative;
    height: 100vh;
    width: 4rem;
    background-color: $navbarColor;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
}