$searchColor: #ebecf0;

.contact-search {
    height: 64px;
    min-height: 64px;
    background-color: #fff;
    overflow: visible;
    padding: 0 16px;
}

.contact-search input {
    margin: 1rem;
    background-color: $searchColor;
    border: none;
    height: 2rem;
    width: 16rem;
    border-radius: 16px;
    padding: 0 2rem;
}