.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
    width: 100%;
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.custom-style {
    flex-direction: column;
    height: 100vh;

    .login-form {
        flex: 1;
    }
}